<app-header></app-header>

<div class="wrapper_shala">
	<!-- <section class="ttl_page">
		<div class="container">
			<div class="col-sm-8 offset-sm-2">
				<div class="section-title pos_rel text-center">
                    <h2>Contrary to popular belief, Lorem Ipsum is not simply random text</h2>                      
                </div>
			</div>
		</div>
	</section> -->

	<section class="blog_list_sec">
		<div class="container">
			<div class="row pos_rel">
				<div class="col-sm-9">
					<div class="wrap_list_left">
						<div class="row">
							<div class="col-sm-12">
							    <div class="listing_blog">
							        <a class="ttl_blog_lst" routerLink="/blogDetail">Contrary to popular belief, Lorem Ipsum is not simply random text</a>
							        <div class="meta_blg mb-3">
							        	<span class="sub_title_1">Published: 6th August, 2020</span>&nbsp; <span class="sub_title_2">By Admin</span>
							        </div>
							        <div class="blog_listing_image"><img src="http://be.beantownthemes.com/html/theme/images/home_betheme_blog_photo_1-1200x800.jpg" class="img-fluid" caption="false"></div>
							        <div class="blog_desc">
							            <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
							            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							            proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							            <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</blockquote>
							            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							            proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							        </div>
							        <div class="tags_wrper_lst">
							        	<strong>Tags: </strong> <span>#Topper,</span> <span>#cleaningMattress,</span> <span>#petBed,</span> <span>#sleepHygenic</span>
							        </div>
							        <div class="author_detl_meta">
							        	<div class="blog-comment d-flex align-items-center">
			                                <a class="comment-avtar"><img src="https://www.iamateacher.in/images/inspiring.jpg" alt="" class="img-fluid"></a>
			                                <div class="comment-text pos_rel">
			                                    <h3 class="widget-title m-0">About The Author</h3>
			                                    <p class="blog-date p-0">Laurance Scrivens - Head Surgeon</p>
			                                    <p class="about-author-text m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
			                                </div>
			                                <!-- end author text -->
			                            </div>
							        </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3 pos_sticky">
					<div class="aside_blog">
						<div class="pos_rel srch_side">
							<input type="text" class="form-control" placeholder="Search . . ." name="">
							<button class="btn_ab_srch"><i class="fa fa-search"></i></button>
						</div>
						<div class="sep_sec_sid">
							<h3>Recent Post</h3>
							<ul type="none">
								<li>
									<a href="">New Elements of a Launch Page</a>
								</li>
								<li>
									<a href="">Lorem Ipsum is simply dummy text of the printing</a>
								</li>
								<li>
									<a href="">The printing and typesetting has been the standard</a>
								</li>
								<li>
									<a href="">Reading is not only informed by what’s going moment</a>
								</li>
								<li>
									<a href="">Focused, hard work is the real key to success. Keep your eyes on the goal</a>
								</li>
							</ul>
						</div>
						<div class="sep_sec_sid">
							<h3>Archives</h3>
							<ul type="none">
								<li>
									<a href="">Jan (13)</a>
								</li>
								<li>
									<a href="">Feb (9)</a>
								</li>
								<li>
									<a href="">Mar (11)</a>
								</li>
								<li>
									<a href="">Apr (73)</a>
								</li>
								<li>
									<a href="">May (3)</a>
								</li>
							</ul>
						</div>
						<div class="sep_sec_sid tags_ul">
							<h3>Tags</h3>
							<ul type="none">
								<li>
									<a href="">Advanced</a>
								</li>
								<li>
									<a href="">Exam</a>
								</li>
								<li>
									<a href="">Nursing</a>
								</li>
								<li>
									<a href="">Medical</a>
								</li>
								<li>
									<a href="">NC-LEX</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- footer starts -->
	<app-footer></app-footer>
	<!-- footer ends -->
</div>