<div class="top-header">
    <div class="custom_container">
        <div class="row">
            <div class="social-icon text-left col-sm-6">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>                    
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="top-loggedIn text-right col-sm-6">
                <ul class="list-inline">
                    <li class="dropdown list-inline-item">
                        <a class="btn btn-outline-primary my-sm-0 dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown">
                        <img src="assets/imgs/bnr1.jpg" class="img-fluid" alt="user Name">
                        Hi! {{userData.first_name}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" routerLink="/dbDashboard">Dashboard</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="logout()">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
