<app-header></app-header>

<div class="wrapper_shala lms_papr_sec">
	
	<section class="main_lms_wrapper start_testt">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 br_rgt">
					<div class="cors_lms_sec">
						<div class="cours_img">
							<img src="assets/imgs/nclex.jpg" class="img-fluid" alt="image" />
						</div>
						<h2 class="cors_ttl_lms">NCLEX-RN Exam</h2>
						<div class="cors_stats text-center">
							<div class="row align-items-center">
								<div class="col-sm-4">
									<div class="curr_stats">
										<p class="span_label">Current Status</p>
										<span class="badge badge-warning">Not Enrolled</span>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="curr_stats">
										<p class="span_label">Price</p>
										<h3>Free</h3>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="curr_stats">
										<p class="span_label">Get Started</p>
										<a class="btn btn_theme" routerLink="/examStarted">Take this Course</a>
									</div>
								</div>
							</div>
						</div>
						<div class="progrs_br_main d-flex align-items-center justify-content-between">
							<div class="progrs_br">
								<mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
							</div>
							<div class="compltn_type">
								<span class="color_prog">0% Complete</span>
								<span class="text-muted">Last activity: May 17, 2020</span>
							</div>
						</div>
						<div class="corse_desc_tabs">
							<mat-tab-group animationDuration="0ms">
							  	<mat-tab label="Overview">
							  		<div class="tabs_cnntnt">
							  			<p class="note_ovrw">You are not enrolled in this course.</p>
							  			<h3>Course Description</h3>
							  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							  			consequat.</p>
							  			<ol class="my-3">
							  				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							  				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							  				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							  				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							  			</ol>
							  		</div>
							  	</mat-tab>
							  	<mat-tab label="Material Required">
							  		<div class="tabs_cnntnt">
							  			<p>No Material Required for this Particular Course. Still you can refer below given book.</p>
							  			<ol class="my-3">
							  				<li><a href="" class="cp">NCLEX-RN</a></li>
							  				<li><a href="" class="cp">NCLEX-PN</a></li>
							  				<li><a href="" class="cp">Examination Comprehensive</a></li>
							  			</ol>
							  		</div>
							  	</mat-tab>
							</mat-tab-group>
						</div>
						<div class="corrswe_desc_chapters">
							<div class="cors_prog">
								<h3>Course Index</h3>
								<ul class="cors_menu_li">
									<li class="lsn_div">
										<p class="leson_name"><i class="far fa-circle"></i> First Lesson of Basic</p>
										<div class="lsn_cntntn"><span class="cp">3 Topics</span> <b>|</b> <span>1 Quiz</span></div>
										<ul class="tpcs_quiz">
											<li><a class="cp"><i class="far fa-circle"></i> Introduction</a></li>
											<li><a class="cp"><i class="far fa-circle"></i> Basics of NCLEX-RN</a></li>
											<li><a class="cp"><i class="far fa-circle"></i> Chapter Quiz</a></li>
										</ul>
									</li>
									<li class="lsn_div">
										<p class="leson_name"><i class="far fa-circle"></i> Second Lesson of Basic</p>
									</li>
									<li class="lsn_div">
										<p class="leson_name"><i class="far fa-circle"></i> Third Lesson</p>
									</li>
									<li class="lsn_div">
										<p class="leson_name"><i class="far fa-circle"></i> Fundamentals of Chapter</p>
										<div class="lsn_cntntn"><span class="cp">3 Topics</span></div>
										<ul class="tpcs_quiz">
											<li><a class="cp"><i class="far fa-circle"></i> Introduction</a></li>
											<li><a class="cp"><i class="far fa-circle"></i> Basics of NCLEX-RN</a></li>
											<li><a class="cp"><i class="far fa-circle"></i> Summary of Chapters</a></li>
										</ul>
									</li>
									<li class="lsn_div">
										<p class="leson_name"><i class="far fa-circle"></i> Final Quiz</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<aside class="lms_sidebar">
						<div class="cors_prog">
							<h3>Course Progress</h3>
							<div class="progrs_br">
								<mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
							</div>
							<div class="compltn_type d-flex justify-content-between">
								<span class="color_prog">0% Complete</span>
								<span class="text-muted">Last activity: May 17, 2020</span>
							</div>
						</div>
						<div class="cors_prog">
							<h3>Course Navigation</h3>
							<ul class="cors_menu_li">
								<li class="lsn_div">
									<p class="leson_name"><i class="far fa-circle"></i> First Lesson of Basic</p>
									<div class="lsn_cntntn"><span class="cp">3 Topics</span> <b>|</b> <span>1 Quiz</span></div>
									<ul class="tpcs_quiz">
										<li><a class="cp"><i class="far fa-circle"></i> Introduction</a></li>
										<li><a class="cp"><i class="far fa-circle"></i> Basics of NCLEX-RN</a></li>
										<li><a class="cp"><i class="far fa-circle"></i> Chapter Quiz</a></li>
									</ul>
								</li>
								<li class="lsn_div">
									<p class="leson_name"><i class="far fa-circle"></i> Second Lesson of Basic</p>
								</li>
								<li class="lsn_div">
									<p class="leson_name"><i class="far fa-circle"></i> Third Lesson</p>
								</li>
								<li class="lsn_div">
									<p class="leson_name"><i class="far fa-circle"></i> Fundamentals of Chapter</p>
									<div class="lsn_cntntn"><span class="cp">3 Topics</span></div>
									<ul class="tpcs_quiz">
										<li><a class="cp"><i class="far fa-circle"></i> Introduction</a></li>
										<li><a class="cp"><i class="far fa-circle"></i> Basics of NCLEX-RN</a></li>
										<li><a class="cp"><i class="far fa-circle"></i> Summary of Chapters</a></li>
									</ul>
								</li>
								<li class="lsn_div">
									<p class="leson_name"><i class="far fa-circle"></i> Final Quiz</p>
								</li>
							</ul>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</section>

	<!-- footer starts -->
	<app-footer></app-footer>
	<!-- footer ends -->
</div>