<app-header></app-header>

<div class="wrapper_shala">
	<section class="product_detail_sec">
		<div class="custom_container">
			<div class="row">
				<div class="col-sm-9">
					<div class="books_detal_inner">
						<div class="row">
							<div class="col-sm-4">
								<div class="product-wraper">
									<div class="men-pro-item simpleCart_shelfItem">
										<div class="men-thumb-item">
											<img src="https://images-na.ssl-images-amazon.com/images/I/51fTmUs-WEL._SX389_BO1,204,203,200_.jpg" alt="" class="img-fluid">
											<span class="product-new-top">10% off</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<div class="item-info-product ">
									<h1>NCLEX-RN Examination</h1>
									<p class="pblshr_nm">Publisher: <a>North Eagle Publishing</a></p>
									<div class="ratdd-rev">
										<span class="str_rev">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="far fa-star"></i>
											<i class="far fa-star"></i>
										</span>
										<span class="rev_nmb">(19)</span>
									</div>
									<div class="info-product-price">
										<strong>Price:</strong><span class="item_price"> $98.00</span>
										<del>$120.00</del>
									</div>
									<div class="desc_book">
										<p>The placeholder text, beginning with the line “Lorem ipsum dolor sit amet, consectetur adipiscing elit”, looks like Latin because in its youth, centuries ago, it was Latin.</p>
										<p>Richard McClintock, a Latin scholar from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text. In seeing a sample of lorem ipsum, his interest was piqued by consectetur—a genuine, albeit rare, Latin word. Consulting a Latin dictionary led McClintock to a passage from De Finibus Bonorum et Malorum (“On the Extremes of Good and Evil”), a first-century B.C. text from the Roman philosopher Cicero.</p>
									</div>
									<div class="btn btn_amazon text-left">
										<a routerLink="/" class="btn_amazon"><i class="fa fa-external-link-alt"></i> Buy From Amazon</a>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="item_specfic">
									<div class="table-responsive table_comonn">
										<table class="table table-bordered">
											<tbody>
												<tr>
													<th>Paperback</th>
													<td>152 Pages</td>
												</tr>
												<tr>
													<th>ISBN-13</th>
													<td>456-28-4831-294-1</td>
												</tr>
												<tr>
													<th>Language</th>
													<td>English</td>
												</tr>
												<tr>
													<th>Author</th>
													<td>Darrius Foraux</td>
												</tr>
												<tr>
													<th>Date Published</th>
													<td>Jan 21, 2016</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<aside class="side_relatd">
						<h3 class="top_head">Related Books:</h3>
						<ul type="none" class="ul_reltd_sid">
							<li class="d-flex align-items-center">
								<img src="https://m.media-amazon.com/images/I/51vXHfMKkdL._SX260_.jpg" class="img-fluid" />
								<div class="reltd_meta_desc">
									<h4>Exam Book Name</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
								</div>
							</li>
							<li class="d-flex align-items-center">
								<img src="https://images-na.ssl-images-amazon.com/images/I/51fTmUs-WEL._SX389_BO1,204,203,200_.jpg" class="img-fluid" />
								<div class="reltd_meta_desc">
									<h4>Exam Book Name</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
								</div>
							</li>
							<li class="d-flex align-items-center">
								<img src="https://m.media-amazon.com/images/I/51vXHfMKkdL._SX260_.jpg" class="img-fluid" />
								<div class="reltd_meta_desc">
									<h4>Exam Book Name</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
								</div>
							</li>
							<li class="d-flex align-items-center">
								<img src="https://m.media-amazon.com/images/I/51vXHfMKkdL._SX260_.jpg" class="img-fluid" />
								<div class="reltd_meta_desc">
									<h4>Exam Book Name</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
								</div>
							</li>
						</ul>
					</aside>
				</div>
			</div>
		</div>
	</section>
	<!-- footer starts -->
	<app-footer></app-footer>
	<!-- footer ends -->

</div>