.single_cors {
	padding: 15px 15px 30px;
	width: 100%;
	float: unset;
	min-height: unset;
	margin-bottom: 20px;
	border: 3px solid #6d78ad;
	margin: 0 0 20px 0;
}
.single_cors .btn_theme,
.single_cors .btn_theme:focus,
.single_cors .bg_color_hed {
	background: #3362ed;
}
.single_cors .bg_color_hed {
	margin-bottom: 10px;
}