<app-header></app-header>

<div class="wrapper_shala">
	<section class="ttl_page">
		<div class="container">
			<div class="col-sm-8 offset-sm-2">
				<div class="section-title pos_rel text-center">
                    <h2>Payment Method</h2>                      
                </div>
                <p class="qult_p_pasn">
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
			</div>
		</div>
	</section>

	<section class="checkOut_sec">
		<div class="container">
			<div class="row pos_rel">
				<div class="col-sm-9">
					<div class="left_chkout_form">
                        <div class="wrap_info">
							<h4 class="head_chkout">Personal Information</h4>
	                        <form>
	                        	<div class="row">
	                        		<div class="top_radsss">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="customRadio" name="example1" value="customEx">
                                            <label class="custom-control-label" for="customRadio">Debit Card</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="customRadio1" name="example1" value="customEx">
                                            <label class="custom-control-label" for="customRadio1">Credit Card</label>
                                        </div>
                                    </div>
	                            </div>
	                            <!--  -->
	                            <div class="saved_adrss">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="wrap_svd_adrs">
                                            	<div class="d-flex justify-content-between">
                                                    <i class="fa fa-credit-card"></i>
                                                    <span class="badg_deflt">Default</span>
                                                </div>
                                                <h3>xxxx-xxxx-xxxx-6643</h3>
                                                <p>William Cage &nbsp;&nbsp; | &nbsp;&nbsp;18/2022</p>
                                                <div class="form-group svd_ic d-flex justify-content-between">
                                                    <button type="button" class="btn btn_theme">Use Card</button>
                                                    <div>
                                                    	<span class="cp text-primary"><i class="fa fa-edit"></i> Edit</span><br>
                                                    	<span class="cp text-danger"><i class="fa fa-times"></i> Remove</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="wrap_svd_adrs">
                                                <i class="fa fa-credit-card"></i>
                                                <h3>xxxx-xxxx-xxxx-6881</h3>
                                                <p>William Cage &nbsp;&nbsp; | &nbsp;&nbsp;18/2034</p>
                                                <div class="form-group svd_ic d-flex justify-content-between">
                                                    <button type="button" class="btn btn_theme">Use Card</button>
                                                    <div>
                                                    	<span class="cp text-primary"><i class="fa fa-edit"></i> Edit</span><br>
                                                    	<span class="cp text-danger"><i class="fa fa-times"></i> Remove</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
	                            <!--  -->
	                            <div class="wrap_info">
									<h4 class="head_chkout">Add New Card</h4>
			                        <div class="pl-3 pr-3">
			                            <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group text-left">
                                                    <label>Name on Card</label>
                                                    <input type="text" name="" class="form-control" placeholder="Name on Card">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
	                                        <div class="col-sm-12">
	                                            <div class="form-group text-left">
	                                                <label>Card Number</label>
	                                                <input type="text" name="" class="form-control" placeholder="Card Number">
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="row">
                                            <div class="col-sm-6">
                                                <label>Expiry Date</label>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group text-left">
                                                            <select name="cars" class="form-control custom-select">
                                                                <option selected="">Month</option>
                                                                <option value="01">01</option>
                                                                <option value="02">02</option>
                                                                <option value="03">03</option>
                                                                <option value="04">04</option>
                                                                <option value="05">05</option>
                                                                <option value="06">06</option>
                                                                <option value="07">07</option>
                                                                <option value="08">08</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group text-left">
                                                            <select name="cars" class="form-control custom-select">
                                                                <option selected="">Year</option>
                                                                <option value="2021">2021</option>
                                                                <option value="2022">2022</option>
                                                                <option value="2023">2023</option>
                                                                <option value="2024">2024</option>
                                                                <option value="2025">2025</option>
                                                                <option value="2026">2026</option>
                                                                <option value="2027">2027</option>
                                                                <option value="2028">2028</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group text-left">
                                                    <label>CVV Number</label>
                                                    <input type="text" name="" class="form-control" placeholder="CVV Number">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
	                                        <div class="col-sm-12">
	                                            <div class="form-group text-right">
	                                                <button class="btn btn_theme">Make Payment</button>
	                                            </div>
	                                        </div>
	                                    </div>
			                        </div>
			                    </div>
	                        </form>
	                    </div>
					</div>
				</div>
				<div class="col-sm-3 pos_sticky">
					<div class="cart_overvew">
                        <div class="shoping__continue">
                            <div class="shoping__discount">
                                <form action="#" class="pos_rel">
                                    <input type="text" class="form-control" placeholder="Enter coupon code">
                                    <button type="submit" class="btn_cpnn mb-3">APPLY</button>
                                </form>
                            </div>
                        </div>
                        <div class="shoping__checkout">
                            <h5>Cart Total</h5>
                            <ul>
                                <li>Subtotal <span>$454.98</span></li>
                                <li>Tax <span>$2.75</span></li>
                                <li>Delivery Charges <span>$5</span></li>
                                <li>Total <span>$454.98</span></li>
                            </ul>
                            <div class="text-center">
                                <a href="#" class="btn btn_theme"><span>Place Order</span></a>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- footer starts -->
	<app-footer></app-footer>
	<!-- footer ends -->
</div>