<app-header></app-header>

<div class="wrapper_shala">
	
	<section class="sign_up_wrap comm_sec">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class=" text-center logo_sgnup">
						<img src="assets/imgs/logo.png" class="img-fluid" alt="logo" />
					</div>
					<div class="regsiter_usr">
                        <div class="row">
                            <div class="col-sm-6 offset-sm-3">
                                <div class="rigth_side">
                                	<div class="section-title pos_rel text-center mt-5">
                                		<!-- <div class="intro-title">Welcome Back!</div> -->
                                			<h2 >Forgot Password</h2>
                                		</div>
                                		<p>It is not a problem, enter your regisetred email ID and reset your password by following instructions.</p>
                                    <form>
                                    	<div class="form-group text-center">
                                            <img src="assets/imgs/frgt.png" class="img-fluid img_fogrot">
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" name="" class="form-control">
                                        </div>
                                        <div class="sub_btn text-center my-4">
                                            <button class="btn btn_theme" type="button">Reset Password</button>
                                        </div>          
                                    </form>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- footer starts -->
	<app-footer></app-footer>
	<!-- footer ends -->
</div>