.single_cors {
	padding: 30px 15px 30px;
	width: 100%;
	float: unset;
	min-height: unset;
	margin-bottom: 20px;
	border: 3px solid #6d78ad;
	margin: 0 0 20px 0;
}
.cors_head p {
	margin: auto auto 10px;
}
.cors_list {
	margin-bottom: 0px;
}
.cors_head .cors_title {
	font-size: 28px;
	margin-bottom: 17px;
}
.single_cors .btn_theme,
.single_cors .btn_theme:focus,
.single_cors .bg_color_hed {
	background: #3362ed;
}