<app-db-header></app-db-header>

<div class="wrapper_shala dashbrd_main">
	<!-- <section class="breadcrumb_sec">
		
	</section> -->
	<section class="wraper_dashbaord ">
		<div class="custom_container">
			<div class="row">
				
				<div class="col-sm-3">
					<app-db-sidebar></app-db-sidebar>
				</div>
				
				<div class="col-sm-9">
					<div class="dshbrd_wraper_main">
						<div class="card_contnt db_page">
							<div class="pag_ttl">
								<h2 class="pos_rel">Dashboard</h2>
							</div>
							<!-- main work area -->
							<div class="db_cntn_wraper">
								<div class="enrold_cardds">
									<div class="card mb-4"  *ngFor="let item of data;let i=index;">
										<div class="crd_bdy">
											<h3>{{ item.exam_id.examName }}</h3>
											<div class="row">
												<div class="col-sm-4">
													<label class="labl_exam">Enrolled Date:</label>
													<p><strong><i class="fa fa-calendar"></i> {{item.start_date}}</strong></p>
												</div>
												<div class="col-sm-4">
													<label class="labl_exam">Expires On:</label>
													<p><strong><i class="fa fa-calendar"></i> {{item.end_date}}</strong></p>
												</div>
												<div class="col-sm-4">
													<label class="labl_exam">Amount Paid:</label>
													<p><strong><i class="fa fa-dollar"></i> ${{item.exam_id.price}}</strong></p>
												</div>
											</div>
											<div class="row align-items-center mt-2 text-right">
												<div class="col-sm-12">
													<label>Start your Practice</label><button class="btn btn_theme ml-3" routerLink="/lms/{{item.exam_id._id}}/{{item.exam_id.examName}}">Get Started</button>
												</div>
											</div>
										</div>
									</div>
									<!-- <div class="card mb-4">
										<div class="crd_bdy">
											<h3>My Enrolled Practice Exam:</h3>
											<div class="row">
												<div class="col-sm-4">
													<label class="labl_exam">Enrolled Date:</label>
													<p><strong><i class="fa fa-calendar"></i> 12/07/2019</strong></p>
												</div>
												<div class="col-sm-4">
													<label class="labl_exam">Expires On:</label>
													<p><strong><i class="fa fa-calendar"></i> 12/09/2019</strong></p>
												</div>
												<div class="col-sm-4">
													<label class="labl_exam">Amount Paid:</label>
													<p><strong><i class="fa fa-dollar"></i> 12/07/2019</strong></p>
												</div>
											</div>
											<div class="row align-items-center mt-2 text-right">
												<div class="col-sm-12">
													<label>Start your Prcatice</label><button class="btn btn_theme ml-3">Get Started</button>
												</div>
											</div>
										</div>
									</div> -->
									<!-- <div class="card mb-4">
										<div class="crd_bdy">
											<h3>My Enrolled Practice Exam:</h3>
											<div class="row">
												<div class="col-sm-4">
													<label class="labl_exam">Enrolled Date:</label>
													<p><strong><i class="fa fa-calendar"></i> 12/07/2019</strong></p>
												</div>
												<div class="col-sm-4">
													<label class="labl_exam">Expires On:</label>
													<p><strong><i class="fa fa-calendar"></i> 12/09/2019</strong></p>
												</div>
												<div class="col-sm-4">
													<label class="labl_exam">Amount Paid:</label>
													<p><strong><i class="fa fa-dollar"></i> 12/07/2019</strong></p>
												</div>
											</div>
											<div class="row align-items-center mt-2 text-right">
												<div class="col-sm-12">
													<label>Start your Prcatice</label><button class="btn btn_theme ml-3">Get Started</button>
												</div>
											</div>
										</div>
									</div> -->
									<!-- <div class="card mb-4">
										<div class="crd_bdy">
											<h3>My Enrolled Practice Exam:</h3>
											<div class="row">
												<div class="col-sm-4">
													<label class="labl_exam">Enrolled Date:</label>
													<p><strong><i class="fa fa-calendar"></i> 12/07/2019</strong></p>
												</div>
												<div class="col-sm-4">
													<label class="labl_exam">Expires On:</label>
													<p><strong><i class="fa fa-calendar"></i> 12/09/2019</strong></p>
												</div>
												<div class="col-sm-4">
													<label class="labl_exam">Amount Paid:</label>
													<p><strong><i class="fa fa-dollar"></i> 12/07/2019</strong></p>
												</div>
											</div>
											<div class="row align-items-center mt-2 text-right">
												<div class="col-sm-12">
													<label>Start your Prcatice</label><button class="btn btn_theme ml-3">Get Started</button>
												</div>
											</div>
										</div>
									</div> -->
								</div>
							</div>
							<!-- main work area -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- footer starts -->
	<app-footer></app-footer>
	<!-- footer ends -->
</div>